.userslist {
    position: absolute;
    right: 5rem;
    width: 70%;
}

.cardscontainer {
    position: absolute;
    right: 5rem;
    width: 70%;
}

body {
    background-color: #F2E2CE !important;
}